/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a577c435886738157519.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-304c7ff0e77de7209faa.json
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-198cfa7817fd72db8833.json
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/copyFile.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/createFile.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/deleteFile.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-30T02-48-09-0334.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/OS_Project.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/modifyTxt.cpp.o
/cmake-build-debug/OS_Project
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/readFile.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/removeTxt.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/renameFile.cpp.o
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-OS_Project-Debug-1fab0cc50e9cf1f1d867.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/testForTxt.cpp.o
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-692b59c6c9b5ab07adbc.json
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/writeTxt.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/directory_1/blupt_directory/blupt.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-01be83bccbd9677f94f5.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-3aa79a573e9a16c043f0.json
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Folders/createFolder.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Traversal/createFolder.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Traversal/deleteFolder.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Traversal/enterSubdirectory.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Traversal/exitSubdirectory.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-30T16-28-00-0586.json
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Text_Files/modifyTxt.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Folders/printCurrentDirectory.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Traversal/printCurrentDirectory.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Text_Files/readFile.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Text_Files/removeTxt.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/target-OS_Project-Debug-71d381caeb509c26da5b.json
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Text_Files/testForTxt.cpp.o
/cmake-build-debug/CMakeFiles/OS_Project.dir/Command_Functions/Text_Files/writeTxt.cpp.o
